<!DOCTYPE html>
<html lang="en">
	<head>

		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Kharna-Admin Dashboard</title>
		
		<!--favicon -->
		<link rel="icon" href="favicon.ico" type="image/x-icon"/>

		<!--Bootstrap.min css-->
		<link rel="stylesheet" href="/static/myadmin/assets/plugins/bootstrap/css/bootstrap.min.css">

		<!--Icons css-->
		<link rel="stylesheet" href="/static/myadmin/assets/css/icons.css">

		<!--Style css-->
		<link rel="stylesheet" href="/static/myadmin/assets/css/style.css">

		<!--mCustomScrollbar css-->
		<link rel="stylesheet" href="/static/myadmin/assets/plugins/scroll-bar/jquery.mCustomScrollbar.css">

		<!--Sidemenu css-->
		<link rel="stylesheet" href="/static/myadmin/assets/plugins/toggle-menu/sidemenu.css">

	</head>

	<body class="bg-primary">

		<div id="app">
			<section class="section">
				<div class="container mt-6 mb-5">
					<div class="row">
						<div class="single-page construction-bg cover-image" data-image-src="/static/myadmin/assets/img/news/img14.jpg">
							<div class="row">
								<div class="col-lg-6">
									<div class="wrapper ">
										<form id="Forgot" class="card-body" tabindex="500">
											<h4>找回密码</h4>
											<div class="mail">
												<input type="email" name="mail">
												<label>邮箱或者用户名</label>
											</div>
											<div class="submit">
												<a class="btn btn-primary btn-block" href="#">忘记密码</a>
											</div>
											<div class="text-center text-dark mt-3 mb-0">
												<a href="{% url 'myadmin_login' %}">返回登录</a>
											</div>
										</form>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="log-wrapper text-center pt-lg-3 pb-lg-3 ">
										<img src="/static/myadmin/assets/img/brand/logo-white.png" class="mb-2 mt-4 mt-lg-0 " alt="logo">
										<p>hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet</p>
										<a class="btn btn-primary" href="#">Read More</a>
									</div>
								</div>	
							</div>	
						</div>	
					</div>
				</div>
           
			</section>
		</div>

		<!--Jquery.min js-->
		<script src="/static/myadmin/assets/js/jquery.min.js"></script>

		<!--popper js-->
		<script src="/static/myadmin/assets/js/popper.js"></script>

		<!--Tooltip js-->
		<script src="/static/myadmin/assets/js/tooltip.js"></script>

		<!--Bootstrap.min js-->
		<script src="/static/myadmin/assets/plugins/bootstrap/js/bootstrap.min.js"></script>

		<!--Jquery.nicescroll.min js-->
		<script src="/static/myadmin/assets/plugins/nicescroll/jquery.nicescroll.min.js"></script>

		<!--Scroll-up-bar.min js-->
		<script src="/static/myadmin/assets/plugins/scroll-up-bar/dist/scroll-up-bar.min.js"></script>	
		<script src="/static/myadmin/assets/js/moment.min.js"></script>

		<!--mCustomScrollbar js-->
		<script src="/static/myadmin/assets/plugins/scroll-bar/jquery.mCustomScrollbar.concat.min.js"></script>

		<!--Sidemenu js-->
		<script src="/static/myadmin/assets/plugins/toggle-menu/sidemenu.js"></script>

		<!--Scripts js-->
		<script src="/static/myadmin/assets/js/scripts.js"></script>

	</body>
</html>