		<!--Jquery.min js-->
		<script src="/static/myadmin/assets/js/jquery.min.js"></script>

		<!--Bootstrap.min js-->
		<script src="/static/myadmin/assets/plugins/bootstrap/js/bootstrap.min.js"></script>

		<!--Jquery.nicescroll.min js-->
		<script src="/static/myadmin/assets/plugins/nicescroll/jquery.nicescroll.min.js"></script>

		<!--Scroll-up-bar.min js-->
		<script src="/static/myadmin/assets/plugins/scroll-up-bar/dist/scroll-up-bar.min.js"></script>

		<!--Sidemenu js-->
		<script src="/static/myadmin/assets/plugins/toggle-menu/sidemenu.js"></script>

		<!--mCustomScrollbar js-->
		<script src="/static/myadmin/assets/plugins/scroll-bar/jquery.mCustomScrollbar.concat.min.js"></script>

		<!--Scripts js-->
		<script src="/static/myadmin/assets/js/scripts.js"></script>