        <div class="col-md-3 pt-4">
            <div style = "height: 30px;">
                <a class="btn btn-info btn-block btn-sm shadow" href="{% url 'new_page' %}" tppabs="http://jianyuluntan.com/user/index/index.html" style = "height: 30px;">发新帖</a>
            </div>
            <div>
                <form method="get" action="http://jianyuluntan.com/search.html">
                    <div class="input-group mt-3 shadow">
                        <input type="text" name="find" class="form-control border-0" placeholder="关键字">
                        <div class="input-group-append">
                            <button class="btn btn-outline-info border-0" type="submit">搜索</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>